* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#line1 {
  animation: 2s line1 2s infinite alternate;
}

#line2 {
  animation: 2s line1 3s infinite alternate;
}

#line3 {
  animation: 2s line1 5s infinite alternate;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.zoom-effect {
  transform-origin: center;
  animation: zoom 5s ease-in;
}

#head {
  animation: zoom 5s ease-in, head-tilt 3s infinite alternate 5s;
}

#right-arm {
  animation: zoom 5s ease-in, hand 1s infinite alternate 5s;
}

#pattern1 {
  animation: pattern1 4s infinite;
}
@keyframes line1 {
  0% {
    fill: #6c63ff;
  }

  100% {
    fill: #e6e6e6;
  }
}

@keyframes hand {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes head-tilt {
  0% {
    transform: rotateZ(0deg);
    transform-style: preserve-3d;
  }

  100% {
    transform: rotateZ(10deg);
    transform-style: preserve-3d;
  }
}

@keyframes zoom {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pattern1 {
  from {
    transform: perspective(200);
  }
  to {
    transform: perspective(100);
  }
}
